.NavBar {
    .nav {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .profile {
            width: 100%;
            margin-top: 1rem;
            border-bottom: 1px solid #2e344e;
            text-align: center;
            img {
                width: 70%;
                border-radius: 50%;
                border: 5px solid #2e344e;
                margin-bottom: 1rem;
            }
        }
        .nav-items {
            width: 100%;
            .nav-item {
                list-style: none;
                text-align: center;
                a { 
                    display: block;
                    text-decoration: none;
                    font-size: inherit;
                    color: inherit;
                    padding: .5rem 0;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background-color: #0381ff33;
                        transform-origin: center;
                        transform: scale(0);
                        overflow-x: hidden;
                        transition: transform .3s, width .3s cubic-bezier(.83,.01,.57,1.25);
                    }
                    &:hover::before {
                        width: 100%;
                        transform: scale(1);
                    }
                }
            }
        }
        .footer {
            width: 100%;
            border-top: 1px solid #2e344e;
            p {
                text-align: center;
                padding: 1rem 0;
            }
        }
    }
}

.active {
    background-color:  #037FFF;
}