.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text {
    font-size: 3.6rem;
    color: white;
    span {
        color: #037fff;
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder {
        &:not(:last-child){
            margin-right: 1rem;
        }
        .icon {
            font-size: 2.5rem;
            color: #a4acc4;
            transition: all .4s ease-in-out;
        }
        .facebook:hover {
            color: blue;
        }
        .github:hover {
            color: purple;
        }
        .youtube:hover {
            color: red;
        }
    }
}