@import './styles/_layout';
@import './styles/_navbar';
@import './styles/_typography';
@import './styles/_title';
@import './styles/_about';
@import './styles/_skill';
@import './styles/_services';
@import './styles/_blogs';
@import './styles/_contact';
@import './styles/_portfolios';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0056d898;
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background-color: #2e344e;
}

body {
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

span {
    color: #037FFF;
}